/.env
/src/.env
/src/vendor/
/src/node_modules/
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/storage/logs/*.log
/src/storage/framework/cache/data/*
/src/storage/framework/sessions/*
/src/storage/framework/views/*
!/src/storage/framework/cache/data/.gitkeep
!/src/storage/framework/sessions/.gitkeep
!/src/storage/framework/views/.gitkeep
/src/bootstrap/cache/*.php
!/src/bootstrap/cache/.gitignore
/src/.phpunit.cache
/src/.phpunit.result.cache
/src/Homestead.json
/src/Homestead.yaml
/src/auth.json
/src/npm-debug.log
/src/yarn-error.log
.idea/
.vscode/
*.log
.DS_Store
